* {
    box-sizing: border-box;
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
    
}
body {
     font-family: "Tektur", sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.main {
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
        90deg,
        rgba(128, 0, 128, 0.993),rgba(128, 0, 128, 0.993)
    );
}
.head {
    border: 0px solid black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background-image: linear-gradient(
        90deg,
        rgba(190, 26, 190, 0.87),rgba(128, 0, 128, 0.993)
    );
    border-bottom-left-radius: 35px; 
    border-bottom-right-radius: 35px;
}
.head1 {
    padding: 0px 50px;
    width: 50%;
    justify-content: space-between;
}
.a {
    text-decoration: none;
    color: white;   
    margin-left: 120px;
}
.h {
    font-size: 206px 52px;
    padding: 0px 167px ;
}
.start {
    text-align: center;
    background-image: linear-gradient(
        90deg,
        rgba(126, 14, 126, 0.87),rgba(128, 0, 128, 0.993)
    ); 
}
.btn2 {
    font-size: 26px;
}
.h22 {
    font-size:  66px;
}
.img {
    width: 518px;
}
.btn {
    border-radius: 5px;
    padding: 7px 25px;
    background-color: rgba(183, 43, 226, 0);
    border: 1px #740c4c solid;
    color: white;
}
.btn1 {
    border-radius: 5px;
    padding: 7px 25px;
    color: white;
    background-color: #7C00E6;
    border: 0px solid black;
}
.body {
    padding: 70px 0px;
    text-align: center;
    color: white;
    background-image: linear-gradient(
        90deg,
        rgba(126, 14, 126, 0.87),rgba(128, 0, 128, 0.993)
    ); 
}
.img1 {
    width: 200px;
    border: 2px solid blueviolet;
    border-radius: 30px;
}
.z {
    position: relative;
    z-index: 1;
    rotate: -20deg;
    
}
.x {
    position: absolute ;
    top: 1000px;
    z-index: 1000;
    left: 840px;
}
.c {
    position: relative;
    z-index: 1;
    rotate: 20deg;
}
.text {
    padding: 0px 0px 100px 0px;
}
.img2 {
    width: 200px;
    border: 2px solid blueviolet;
    border-radius: 30px;
}
.body1 {
    padding: 70px 0px;
    text-align: center;
    color: white;
    background-image: linear-gradient(
        90deg,
        rgba(126, 14, 126, 0.87),rgba(128, 0, 128, 0.993)
    ); 
}
.pic {
    width: 200px;
    border: 2px solid blueviolet;
    border-radius: 30px;
}
.div1 {
    display: flex;
    padding: 20px 200px;
    align-items: center;
}
h3 {
    font-size: 25px;
    padding: 13px 0px;
}
.words {
    padding: 30px;
}
.main1 {
    background-image: linear-gradient(
        90deg,
        rgba(126, 14, 126, 0.87),rgba(128, 0, 128, 0.993)
    ); 
    color: white;
}
.h2 {
    text-align: center;
}
.d {
    display: flex;
    padding: 0px 150px;
    align-items: center;
}
.pics1 {
    width: 200px;
    border: 2px solid blueviolet;
    border-radius: 30px;
}
.text1 {
    line-height: 1.9;
}
.main2 {
    padding: 50px 0px;
    background-image: linear-gradient(
        90deg,
        rgba(126, 14, 126, 0.87),rgba(128, 0, 128, 0.993)
    ); 
    color: white;
}
.textbox {
    resize: none;
    height: 25px;
}
.textbox {
    display: block;
    font-size: 15px;
    border: 2px solid gray;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background-image: linear-gradient(
        90deg,
        rgba(126, 14, 126, 0.87),rgba(128, 0, 128, 0.993)
    );
    color: white;
}
.gmail {
    align-items: center;
    text-align: center;
    border: 5px white solid;
    border-radius: 25px;
    background-image: linear-gradient(
        90deg,
        rgba(126, 14, 126, 0.87),rgba(128, 0, 128, 0.993)
    );
    margin: 0 auto;
    width: 40%;
    padding: 15px;
    color: white;
}
.main3 {
    background-image: linear-gradient(
        90deg,
        rgba(126, 14, 126, 0.87),rgba(128, 0, 128, 0.993)
    );
    text-align: center;
    margin: 0 auto;
}
.pics2 {
    width: 100%;
}
.end {
    width: 100%;
    padding: 50px 0px 0px 0px;
    background-image: linear-gradient(
        90deg,
        rgba(126, 14, 126, 0.87),rgba(128, 0, 128, 0.993)
    );
}